---
import Layout from '@layouts/Layout.astro';
---

<Layout title="QR Code">
  <main class="grid min-h-screen place-content-center">
    <div class="flex w-96 flex-col gap-4 rounded-2xl bg-gray-900 p-4">
      <div
        id="qr-code-result"
        class="mx-auto flex aspect-square w-full items-center justify-center rounded-lg bg-gray-800 p-0.5"
      >
      </div>

      <form id="qr-code-form">
        <label class="block text-center text-base font-semibold text-gray-300">
          <span class="block pb-1.5">Enter URL to create QR code</span>
          <input
            class="bg-gray-850 w-full rounded-lg border border-gray-700 px-4 py-2 font-normal text-white placeholder-gray-500"
            type="url"
            placeholder="https:// ..."
          />
        </label>
      </form>

      <p class="text-center text-sm text-gray-500">Application created in midudev live</p>
    </div>
  </main>
</Layout>

<script>
  const qrCodeForm = document.querySelector('#qr-code-form');
  const qrCodeResult = document.querySelector('#qr-code-result');

  if (!qrCodeForm || !qrCodeResult) {
    console.error('QR Code form or result element not found');
    throw new Error('QR Code form or result element not found');
  }

  qrCodeForm.addEventListener('submit', (e) => {
    e.preventDefault();

    const form = e.target as HTMLFormElement | null;
    const input = form?.querySelector('input[type="url"]') as HTMLInputElement | null;

    if (!input) {
      console.error('Input element not found');
      return;
    }

    const url = new URL(input.value);

    fetch('/api/qr/generate', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        url: url.toString(),
        color: {
          dark: '#FFFFFF',
          light: '#2B2B2B',
        },
      }),
    })
      .then((response) => {
        if (!response.ok) throw new Error(`HTTP error: ${response.status}`);
        return response.text();
      })
      .then((svg) => {
        qrCodeResult.innerHTML = svg;
      })
      .catch((err) => console.error(err));
  });
</script>
