---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class='min-h-screen grid place-content-center'>
    <div class='bg-white rounded-2xl w-80 p-4 flex flex-col gap-4'>
      <picture>
        <img
          class='rounded-lg overflow-hidden'
          src='/image-qr-code.png'
          alt='qr-code'
        />
      </picture>

      <h1 class='font-bold text-base text-left'>
        Enter URL to create QR code:
      </h1>
      <form>
        <input
          class='w-full border-2 px-4 py-2 rounded-full'
          type='url'
          placeholder='https:// ...'
        />
      </form>

      <p class='text-xs text-center text-gray-500 px-8'>
        Application created in midudev live
      </p>
    </div>
  </main>
</Layout>
