---
import '@styles/global.css';

export interface Props {
  title: string;
}

const { title = 'QR Code' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-gray-950 text-white">
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  input::placeholder {
    color: #999;
  }

  body {
    margin: 0;
  }
</style>
